/usesStudent/nbproject/private/
/usesStudent/build/
/Circle/nbproject/private/
/TestCircle/nbproject/private/
/TestCircle/build/
/UsesStudent02/nbproject/private/
/TestRectangle/nbproject/private/
/TestRectangle/build/
